[submodule "themes/ghost-casper"]
	path = themes/ghost-casper
	url = git@github.com:arhatlohan/hexo-theme-ghost-casper.git
[submodule "themes/jacman"]
	path = themes/jacman
	url = git@github.com:arhatlohan/jacman.git
